

body {
  align-items: center;
  display: flex;
  justify-content: center;
    margin: auto;
 transform: scale(0.8);
    overflow-y: hidden;
  
 background-color:deepskyblue;
   
}

.mpc {
  text-align: center;
  display: grid;
  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 3vw;
  width: 100vw; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:floralwhite;
   border-radius: 20px; 
    
    
    
        
}

.mpc img {
  height: 18vw;
    width: 20vw;
    padding: 3vw;
  
    
    
   
   
  
}


.mpc #on {
  display: none 
  
}


.mpc__pad--active #off {
  display: none 
  
}

.mpc__pad--active #on {
  
display: grid;
    margin: auto;
    
    
  
}


#alert {display: none;}	    

	    @media all and (orientation:portrait) {
    #alert {
	    width: 100%;
	    
	    
	    
  display:block;
       
      
  
       
    }
            
            body {
  
  
  transform: scale(0.7);
  display:block;
              
               
   
}
            
            #alert img {width: 100%;
            padding-top: 25%;
            }	
}



